# Environnements virtuels
venv/
.env

# Fichiers temporaires Jupyter/Notebooks
.ipynb_checkpoints/
*.swp

# Fichiers système macOS/Windows
.DS_Store
Thumbs.db

# Fichiers Python compilés
__pycache__/
*.py[cod]